.row.b{
    
    /* background-color:transparent; */
    background:black;
    border:3px solid transparent;
    border-bottom-width:5px solid black ;
   
}

.up{
    color:#fff;
    background-color:orange;
    border-top-width: 0px;
    border-bottom-width: 0px;
    font-size: 14px;
}
button{
    font-size: 12px;
    height:27px;
    border-radius: 3px;
    border:0px solid rgb(240, 240, 240);
    background-color: transparent;
    color:whitesmoke;
   
}
button:hover{
    color:#000;
    background-color:antiquewhite;
    border-top-width: 0px;
    border-bottom-width: 0px;
    font-size: 14px;
    box-shadow:0px 0px 15px white;

}
.hic{
    height:28px;
    width:28px;
    background-color: #fff;
    border-radius:50px 50px 0px 0px;
}
.hic:hover{
    background-color:orange;
    box-shadow:0px 0px 15px white;
}
.col-md-1.lab{
    font-size: 10px;
    height:27px;
    border-radius: 15px;
    padding-bottom:20px;
}
/* .row.a{
    background-color: aqua;
} */
.col-md-1{
    font-family:cursive;
    font-style: italic;
    font-size: 12px;
    height:27px;
}
.col-md-2{
    font-family:cursive;
    font-style: italic;
    font-size: 12px;
    height:27px;
}
.col-md-3{
    font-family:cursive;
    font-style: italic;
    font-size: 12px;
    height:27px;
}
/* input{
    width:50%;
   height:30px;
   border-radius:10px 10px 10px 10px;
   border:1px solid black;
} */
.navba{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(52, 46, 169) 0%, rgba(0,255,222,1) 90%);

  
}

h4{
    color:#000;
    margin-left:9px;
}
.tit{
    text-align: center;
    background-color:rgb(209, 245, 245);
    color:navy;
    border-radius:5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 850px;
    width: 100%;
}

/* .adb{ */
    /* background:conic-gradient(black,aqua,black) ; */
    /* height: 625px; */
 

/* } */